<form>
    <div class="row g-3">
        <div class="col-md-12 mb-3">
            <label for="personales" class="form-label">Antecedentes Personales:</label>
            <textarea class="form-control" id="personales" rows="3" [formField]="antecedentesForm.personales"></textarea>
        </div>
        <div class="col-md-12 mb-3">
            <label for="familiares" class="form-label">Antecedentes Familiares:</label>
            <textarea class="form-control" id="familiares" rows="3" [formField]="antecedentesForm.familiares"></textarea>
        </div>
        <div class="col-md-12 mb-3">
            <label for="quirurgicos" class="form-label">Antecedentes Quirúrgicos:</label>
            <textarea class="form-control" id="quirurgicos" rows="3" [formField]="antecedentesForm.quirurgicos"></textarea>
        </div>
        <div class="col-md-12 mb-3">
            <label for="transfucionales" class="form-label">Antecedentes Transfusionales:</label>
            <textarea class="form-control" id="transfucionales" rows="3" [formField]="antecedentesForm.transfucionales"></textarea>
        </div>
        <div class="col-md-12 mb-3">
            <label for="alergicos" class="form-label">Antecedentes Alérgicos:</label>
            <textarea class="form-control" id="alergicos" rows="3" [formField]="antecedentesForm.alergicos"></textarea>
        </div>
        <div class="col-md-12 mb-3">
            <label for="habitosToxicos" class="form-label">Hábitos Tóxicos:</label>
            <textarea class="form-control" id="habitosToxicos" rows="3" [formField]="antecedentesForm.habitosToxicos"></textarea>
        </div>
    </div>
</form>